<div class="delete-user">
  <h2 mat-dialog-content>Delete User</h2>
  <!-- <mat-dialog-content>
    <p>Are you sure you want to delete user {{ deleteUser?.name }}?</p> -->
  <!-- </mat-dialog-content> -->

  <mat-dialog-actions align="center">
    <button mat-raised-button color="warn" (click)="closeDialog()">
      Close
    </button>
    <!-- <button
      type="submit"
      mat-raised-button
      color="primary"
      class="ml-2"
      (click)="onDeleteUser(deleteUser.id)"
    > -->
      <!-- Delete user
    </button> -->
  </mat-dialog-actions>
</div>
