<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2C3739">
  <div class="collapse navbar-collapse d-flex justify-content-center">
      <a class="navbar-brand" href="#">
          <img src=".\assets\images\logo.png">
      </a>
      <ul class="navbar-nav mr-auto mt-4 mt-lg-3 col-md-6">

      </ul>
      <div class="form-inline my-2 my-lg-0">
          <button type="button" (click)="signIn()" routerLink="/category" class="btn mr-1 btn-outline-success rou">Category</button>
          <button type="button" (click)="login()" routerLink="/register" class="btn btn-outline-warning" style= "margin-left: 10px !important;">Login</button>
      </div>
  </div>
</nav>
<header id="home-section" >
  <div class="dark-overlay">
      <div class="home-inner container">
          <div class="row">
              <div class="col-lg-8 d-none d-lg-block mt-5">

                  <h1 class="display-4 text-light">
                      Start your <strong>trip today</strong>
                  </h1>

                  <div class="d-flex">
                      <div class="p-4 align-self-start">
                          <i class="fas fa-check fa-2x text-light"></i>
                      </div>
                      <div class="p-4 align-self-end text-light">
                          Simple registration will only take a few seconds to complete and login right away
                      </div>
                  </div>

                  <div class="d-flex">
                      <div class="p-4 align-self-start">
                          <i class="fas fa-check fa-2x text-light"></i>
                      </div>
                      <div class="p-4 align-self-end text-light">
                          Start interacting with other users and build connections with others
                      </div>
                  </div>

                  <div class="d-flex">
                      <div class="p-4 align-self-start">
                          <i class="fas fa-check fa-2x text-light"></i>
                      </div>
                      <div class="p-4 align-self-end text-light">
                          Get featured in our most featured discussed section
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 mt-5">
                      <div class="card" style="background-color: #2C3739">
                              <div class="text-center mt-4">
                                <h1 class="h2" style="color: white;">Get started</h1>
                                <p class="lead" style="color: white;">
                                  Start creating the best possible user experience for you customers.
                                </p>
                              </div>
                                  <div class="m-sm-4">
                                    <form>
                                      <div class="form-group" style="color: white;">
                                        <label>Name</label>
                                        <input class="form-control form-control-lg" type="text" name="name" placeholder="Enter your name">
                                      </div>
                                      <div class="form-group" style="color: white;">
                                        <label>Surename</label>
                                        <input class="form-control form-control-lg" type="text" name="surname" placeholder="Enter your Surname">
                                      </div>
                                      <div class="form-group" style="color: white;">
                                        <label>Email</label>
                                        <input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your email">
                                      </div>
                                      <div class="form-group" style="color: white;">
                                        <label>Password</label>
                                        <input class="form-control form-control-lg" type="password" name="password" placeholder="Enter password">
                                      </div>
                                      <div class="text-center mt-3">
                                        <a href="index.html" class="btn btn-lg btn-warning">Sign up</a>
                                        <!-- <button type="submit" class="btn btn-lg btn-primary">Sign up</button> -->
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
</header>

 <!-- Footer -->

 <footer class="text-center text-lg-start bg-light text-muted">

  <!-- Section: Links  -->
  <!-- <section style="background-color: #f5f5f5;">
      <div class="container text-center text-md-start mt-5"> -->
          <!-- Grid row -->
          <!-- <div class="row mt-3"> -->
              <!-- Grid column -->
              <!-- <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4"> -->
                  <!-- Content -->
                  <!-- <h6 class="text-uppercase fw-bold mb-4">
                      <i class="fas fa-gem me-3"></i>About us
                  </h6>
                  <p>
                      We are a software development company from Bosnia and Hercegovina and we will pleasure your
                      needs.
                  </p>
              </div> -->
              <!-- Grid column -->

              <!-- Grid column -->


              <!-- Grid column
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <!- Links -->
                  <!-- <h6 class="text-uppercase fw-bold mb-4">
                      Contact
                  </h6>
                  <p><i class="fas fa-home me-3"></i> Sarajevo, 71000, BiH</p>
                  <p>
                      <i class="fas fa-envelope me-3"></i>
                      mdma@development.com
                  </p>
                  <p><i class="fas fa-phone me-3"></i> + 387 62 507 442</p>
                  <p><i class="fas fa-print me-3"></i> + 387 61 729 384</p>
              </div> -->
              <!-- Grid column -->

          <!-- Grid row -->
      <!-- </div>
  </section>
  <br> -->
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center text-white p-4" style="background-color: #2C3739">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdma.com/">mdma.com</a>
  </div>
  <!-- Copyright -->
</footer>




